.contact-us-div {
    height: 60px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: black;
}

.bg-dark-section {
    background-color: black;
}
